@model DziennikSzkolny13.Models.Nieobecnosc

@{
    ViewBag.Title = "Usuń nieobecność";
}

<h3>Usunąć wpis o nieobecności?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpuszczonyPrzedmiot.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpuszczonyPrzedmiot.NazwaPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UczenDotyczacy.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczenDotyczacy.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UczenDotyczacy.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczenDotyczacy.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UczenDotyczacy.ID) ucznia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczenDotyczacy.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
