@model DziennikSzkolny13.Models.Nieobecnosc

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły nieoebecności</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.OpuszczonyPrzedmiot.NazwaPrzedmiotu)*@
            Opuszczony przedmiot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpuszczonyPrzedmiot.NazwaPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UczenDotyczacy.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczenDotyczacy.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UczenDotyczacy.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczenDotyczacy.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CzyUsprawiedliwiona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyUsprawiedliwiona)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót", "Index")
</p>
