@model DziennikSzkolny13.Models.Przedmiot

@{
    ViewBag.Title = "Usuń przedmiot";
}


<h3>Jesteś pewien/pewna, że chcesz usunąć ten przedmiot?</h3>
<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.przedmiotNauczyciel.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.przedmiotNauczyciel.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaPrzedmiotu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy wszystkich przedmiotów", "Index")
        </div>
    }
</div>
