@model DziennikSzkolny13.Models.Przedmiot
@{
    ViewBag.Title = "Szczegóły Przedmiotu";
}
<h2>Szczegóły Przedmiotu</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nauczyciel prowadzący
        </dt>

        <dd>
            @Html.DisplayFor(model => model.przedmiotNauczyciel.Imie)
            @Html.DisplayFor(model => model.przedmiotNauczyciel.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaPrzedmiotu)
        </dd>

    </dl>
</div>
<div>
    <h3>Oceny wystawione z tego przedmiotu:</h3>
    @if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
    {
        @Html.ActionLink("Dodaj Ocenę", "Create", "Ocenas", new { id = Model.ID }, null)
    }
        @Html.Partial("ListaWystawionychOcen", Model.OcenyWystawionePrzezNauczyciela)
    </div>
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edytuj przedmiot", "Edit", new { id = Model.ID })
    }
    @Html.ActionLink("Przejdź do listy wszystkich przedmiotów", "Index")
</p>
