@model IEnumerable<DziennikSzkolny13.Models.Przedmiot>

@if (User.IsInRole("Uczeń"))
{
    {
        ViewBag.Title = "Panel Przedmiotów";
    }
    <h4>Przedmioty, z których otrzymano ocenę</h4>
}
@if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
{
    if (User.IsInRole("Administrator"))
    {
        ViewBag.Title = "Panel Wszystkich Przedmiotów";
        <h2>Panel Wszystkich Przedmiotów</h2>
        using (Html.BeginForm("Index", "Przedmiots", FormMethod.Get))
        {
            @Html.TextBox("searching")<input type="submit" value="Szukaj" />
            @Html.ActionLink("Powrót", "Index")
        }
    }
    else
    {
        ViewBag.Title = "Panel Przedmiotów";
        <h2>Panel moich przedmiotów</h2>
    }
}

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Dodaj nowy przedmiot", "Create")
    }
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Administrator"))
        {
            <th>
                @Html.DisplayNameFor(model => model.przedmiotNauczyciel.Imie) i
                @Html.DisplayNameFor(model => model.przedmiotNauczyciel.Nazwisko)
                prowadzącego przedmiot
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.NazwaPrzedmiotu)
        </th>
        <th>
            Ilość wystawionych ocen
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (User.IsInRole("Administrator"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.przedmiotNauczyciel.Imie)
                @Html.DisplayFor(modelItem => item.przedmiotNauczyciel.Nazwisko)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.NazwaPrzedmiotu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OcenyWystawionePrzezNauczyciela.Count)
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edytuj przedmiot", "Edit", new { id = item.ID })
            }
            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
    }

</table>
