@model IEnumerable<DziennikSzkolny13.Models.Ocena>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.klasaUcznia.NazwaKlasy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OcenaUczen.ID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WartoscOceny)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/Klasas/Details/@item.OcenaUczen.klasaUcznia.ID">@Html.DisplayFor(modelItem => item.OcenaUczen.klasaUcznia.NazwaKlasy)</a>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.OcenaUczen.ID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OcenaUczen.Imie)
        </td>
        <td>
            <a href="~/Uczens/Details/@item.OcenaUczen.ID">@Html.DisplayFor(modelItem => item.OcenaUczen.Nazwisko)</a>
        </td>
        <td>
            <a href="~/Ocenas/Details/@item.ID">@Html.DisplayFor(modelItem => item.WartoscOceny)</a>
            @*@Html.DisplayFor(modelItem => item.WartoscOceny)*@
        </td>
        <td>
            @if (User.IsInRole("Administrator") || (User.IsInRole("Nauczyciel")))
            {
                @Html.ActionLink("Edytuj", "Edit","Ocenas", new { id = item.ID },null)
            }
            @Html.ActionLink("Szczegóły", "Details","Ocenas", new { id = item.ID },null)
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Usuń", "Delete","Ocenas", new { id = item.ID },null)
            }
        </td>
        <td></td>
    </tr>
}

</table>
