@model DziennikSzkolny13.Models.Klasa

@{
    ViewBag.Title = "Usuń klasę";
}

<h3>Jesteś pewien/pewna, że chcesz usunąć tę klasę ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaKlasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaKlasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilKlasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilKlasy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy wszystkich klas", "Index")
        </div>
    }
</div>
