@model DziennikSzkolny13.Models.Klasa

@{
    ViewBag.Title = "Szczegóły Klasy";
}

<h2>Szczegóły Klasy</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaKlasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaKlasy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilKlasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilKlasy)
        </dd>

        <dt>
            Ilość uczniów
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UczniowieKlasy.Count)
        </dd>

        <dt>
            Oceny
        </dt>
        <dd></dd>
        <dt>
            Ilość 1:
        </dt>
        <dd>
            @ViewBag.wszystkie1
        </dd>
        <dt>
            Ilość 2:
        </dt>
        <dd>
            @ViewBag.wszystkie2
        </dd>
        <dt>
            Ilość 3:
        </dt>
        <dd>
            @ViewBag.wszystkie3
        </dd>
        <dt>
            Ilość 4:
        </dt>
        <dd>
            @ViewBag.wszystkie4
        </dd>
        <dt>
            Ilość 5:
        </dt>
        <dd>
            @ViewBag.wszystkie5
        </dd>
        <dt>
            Ilość 6:
        </dt>
        <dd>
            @ViewBag.wszystkie6
        </dd>
        <dt>
            Średnia ucznia
        </dt>
        <dd>
            @ViewBag.srednia
        </dd>

    </dl>
</div>
<div>
    <h3>Lista Uczniów w tej Klasie:</h3>
    @Html.Partial("ViewPartialListauczen", Model.UczniowieKlasy)
</div>

<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
    }
    @if (User.IsInRole("Nauczyciel") || User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Powrót do listy wszystkich klas", "Index")
    }
    else
    {
        @Html.ActionLink("Powrót do panelu klas", "Index")
    }
</p>
