@model DziennikSzkolny13.Models.Ocena

@{
    ViewBag.Title = "Usuń ocenę";
}

<h3>Jesteś pewien/pewna, że chcesz usunąć ocenę?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OcenaPrzedmiot.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcenaPrzedmiot.NazwaPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OcenaUczen.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcenaUczen.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WartoscOceny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WartoscOceny)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Przejdź do listy wszystkich przedmiotów", "Index")
        </div>
    }
</div>
