@model DziennikSzkolny13.Models.Ocena

@{
    ViewBag.Title = "Szczegóły oceny";
}

<h2>Szczegóły oceny</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OcenaPrzedmiot.NazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcenaPrzedmiot.NazwaPrzedmiotu)
        </dd>
        <dt>
            Ocenę wystawił
        </dt>
        <dd>
            @if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
            {
                <a href="~/Nauczyciels/Details/@Model.OcenaPrzedmiot.przedmiotNauczyciel.ID">@Html.DisplayFor(modelItem => modelItem.OcenaPrzedmiot.przedmiotNauczyciel.Imie) @Html.DisplayFor(modelItem => modelItem.OcenaPrzedmiot.przedmiotNauczyciel.Nazwisko)</a>
            }
            else
            {
                <a>@Html.DisplayFor(model => model.OcenaPrzedmiot.przedmiotNauczyciel.Imie) @Html.DisplayFor(model => model.OcenaPrzedmiot.przedmiotNauczyciel.Nazwisko)</a>
            }
        </dd>

        <dt>
            Ocenę otrzymał
        </dt>

        <dd>
            <a href="~/Uczens/Details/@Model.OcenaUczen.ID">@Html.DisplayFor(modelItem => modelItem.OcenaUczen.Imie) @Html.DisplayFor(modelItem => modelItem.OcenaUczen.Nazwisko)</a>
            @*@Html.DisplayFor(model => model.OcenaUczen.Imie)
                @Html.DisplayFor(model => model.OcenaUczen.Nazwisko)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WartoscOceny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WartoscOceny)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator") || (User.IsInRole("Nauczyciel")))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
    }
    @Html.ActionLink("Przejdź do listy wszystkich ocen", "Index")
</p>
