@model IEnumerable<DziennikSzkolny13.Models.Ocena>

@if (User.IsInRole("Nauczyciel"))
{
    {
        ViewBag.Title = "Panel Ocen";
    }
    <h2> Panel Ocen </h2>
}
@if (User.IsInRole("Administrator"))
{
    {
        ViewBag.Title = "Panel Wszystkich Ocen";
    }
    <h2>Panel Wszystkich Ocen</h2>
}
@if (User.IsInRole("Uczeń"))
{
    {
        ViewBag.Title = "Panel Ocen Ucznia";
    }
    <h2>Panel Ocen Ucznia</h2>
}

@if (User.IsInRole("Administrator") || (User.IsInRole("Nauczyciel")))
{
    @Html.ActionLink("Dodaj nową ocenę", "Create")
    <p>
        @using (Html.BeginForm("Index", "Ocenas", FormMethod.Get))
        {
            <b>Szukaj po:</b>
            @Html.RadioButton("searchBy", "NazwaPrzedmiotu", true) <text>Nazwa przedmiotu</text>
            @Html.RadioButton("searchBy", "NazwiskoUcznia") <text> Nazwisko ucznia </text>
            @Html.RadioButton("searchBy", "NazwaKlasy") <text>Nazwa Klasy</text>
            @Html.TextBox("searching") <input type="submit" value="Szukaj" />
            @Html.ActionLink("Powrót", "Index")
        }
    </p>
}

@if (User.IsInRole("Uczeń"))
{
    <p>
        @using (Html.BeginForm("Index", "Ocenas", FormMethod.Get))
        {
            <b>Szukaj po:</b>
            @Html.RadioButton("searchBy", "NazwaPrzedmiotu", true) <text>Nazwa przedmiotu</text>
            @Html.TextBox("searching") <input type="submit" value="Szukaj" />
            @Html.ActionLink("Powrót", "Index")
        }
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OcenaPrzedmiot.NazwaPrzedmiotu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.klasaUcznia.NazwaKlasy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OcenaUczen.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WartoscOceny)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="~/Przedmiots/Details/@item.OcenaPrzedmiot.ID">@Html.DisplayFor(modelItem => item.OcenaPrzedmiot.NazwaPrzedmiotu)</a>
                @*@Html.DisplayFor(modelItem => item.OcenaPrzedmiot.NazwaPrzedmiotu)*@
            </td>
            <td>
                <a href="~/Klasas/Details/@item.OcenaUczen.klasaUcznia.ID">@Html.DisplayFor(modelItem => item.OcenaUczen.klasaUcznia.NazwaKlasy)</a>
                @*@Html.DisplayFor(modelItem => item.OcenaUczen.klasaUcznia.NazwaKlasy)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcenaUczen.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcenaUczen.Imie)
            </td>
            <td>
                <a href="~/Uczens/Details/@item.OcenaUczen.ID">@Html.DisplayFor(modelItem => item.OcenaUczen.Nazwisko)</a>
                @*@Html.DisplayFor(modelItem => item.OcenaUczen.Nazwisko)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WartoscOceny)
            </td>
            <td>
                @if (User.IsInRole("Administrator") || (User.IsInRole("Nauczyciel")))
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.ID })
                }
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
