@model DziennikSzkolny13.Models.Uczen

@{
    ViewBag.Title = "Szczegóły ucznia";
}

<h2>Szczegóły ucznia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.klasaUcznia.NazwaKlasy)
        </dt>

        <dd>
            <a href="~/Klasas/Details/@Model.klasaUcznia.ID">@Html.DisplayFor(modelItem => modelItem.klasaUcznia.NazwaKlasy)</a>
            @*@Html.DisplayFor(model => model.klasaUcznia.NazwaKlasy)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    <h3>Lista ocen ucznia:</h3>
    @if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
    {
        <p>
            @Html.ActionLink("Dodaj Ocenę", "CreateOcenasFromUczens", new { id = Model.ID })
        </p>
    }
    @*@Html.Partial("ListaOcenUcznia", Model.OcenyUcznia)*@
</div>
@*@{
        Html.Action("ListaOcenUcznia", "Uczens");
    }*@
@{
    Html.RenderAction("ListaOcenUcznia", "Uczens");
}
<div>
    <h3>Odnotowane nieobecności ucznia:</h3>
    @if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
    {
        <p>
            @Html.ActionLink("Dodaj nieobecność", "CreateNieobecnoscsFromUczens", new { id = Model.ID })
        </p>
    }
</div>
@{
    Html.RenderAction("ListaNieobecnosciUcznia", "Uczens");
}
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID })
        @Html.ActionLink("Przejdź do listy wszystkich uczniów", "Index")
    }
    else if (User.IsInRole("Nauczyciel"))
    {
        @Html.ActionLink("Przejdź do listy wszystkich uczniów", "Index")
    }
    else
    {
        @Html.ActionLink("Panel Ucznia", "Index")
    }
</p>
