<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Praca Inżynierska</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav navbar-nav dropdown">
                        <a href="@Url.Action("Index", "Home" )" class="dropdown-toggle"
                           data-toggle="dropdown">Testy<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index", "Home" )">Index</a></li>
                            <li><a href="@Url.Action("About", "Home" )">About</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Panel Klas", "Index", "Klasas")</li>
                    <li>@Html.ActionLink("Panel Uczniów", "Index", "Uczens")</li>
                    <li>@Html.ActionLink("Panel Nauczycieli", "Index", "Nauczyciels")</li>
                    <li class="nav navbar-nav dropdown">
                        <a href="@Url.Action(" Index", "Przedmiots" )" class="dropdown-toggle"
                           data-toggle="dropdown">Przedmioty/Oceny<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index", "Przedmiots" )">Panel Przedmiotów</a></li>
                            <li><a href="@Url.Action("Index", "Ocenas" )">Panel Ocen</a></li>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Nauczyciel"))
                            {
                                <li>@Html.ActionLink("Wgraj Plik", "Index", "Pliks")</li>
                            }
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Praca Inżynierska - Kacper Sierakowski </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
